@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    color: #283655 !important;
    background-color: #f7faff !important;
    font-family: 'rambla', sans-serif;
}

h2, h3 {
    font-family: 'AudioWide', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px #283655;
}

li {
    list-style-type: none;

}

/*Header ===============================  */ 
.navbar {
    background-color: #c6c3c3;
    opacity: 0.9;
    height: 42px;
    transition: 0.9s;
}

.navbar-nav {
    width: 80% !important;
    margin: 0 auto;
    justify-content: space-between;
}


header {
    text-align: center;
    height: 100vh;
    background: url(./img/header.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
}

h1 {
    padding: 90px 0 10px 0;
    font-family: 'josefin sans', sans-serif;
    font-size: 3.5em;
}

#line {
    height: 1px;
    background-color: #b3aca7;
    width: 25%;
    margin: 0 auto;
}

h2 {
    padding: 20px O 50px 0;
    font-size: 3em;
    text-transform: uppercase;
}


.presentation {
    height: 240px;
    margin-top: 20px;
    border: brown 2px solid;
}

.infos {
    border: 1px solid #b3aca7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.photo {
    border: 1px solid #b3aca7;
    position: relative;
}

/* target photo */
.photo img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
    max-width: 95%;
    border-radius: 3px;
    box-shadow: 0 0 4px rgb(52, 49, 49);
}


/* btn_pdf */
header .button {
    margin-top: 45px;
}

header .button a {
    padding: 20px 80px;
    border: 1px solid #b3aca7;
    width: 300px;
}

header .button:hover a {
    background: #b3aca7;
    color: #e2dedb;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}


/*Window langages ===============================  */ 

#langages {
    padding: 80px 80px 80px 50px;
    margin: 20px 0 0 6%;
    height: 620px;
    width: 47%;
    max-width: 640px;
    background: linear-gradient(90deg,rgba(58,153,175,0.51) 10%, rgba(162,162,84,0.62) 20%, rgba(226,226,0,0.57) 40%, rgba(0,255,0,0.49) 99%);
    clip-path: polygon(0 10%, 100% 0%, 92% 100%, 0 92%);
}

#langages .bar {
    padding: 10px 0 4px 0;
    letter-spacing: 0.1em;
}


/*Formation 2nd volet ===============================  */ 

#formation {
    position: relative;
    background-color: hsl(0, 83%, 84%) ;
    top: -200px;
    float: right;
    margin-right: 5%;
    padding: 110px 0 60px 50px;
    width: 45%;
    max-width: 660px;
    background: linear-gradient(90deg,rgba(105,223,221,0.51) 0%, rgba(226,226,0,0.57) 40%, rgba(236,238,236,0.49) 99%);
    clip-path: polygon(0 20%, 100% 0%, 84% 100%, 10% 91%);
}

/* Sous_Tr*/
#formation h3 {
    padding-top: 80px;
}

#formation h4{
    font-weight: bold;
    letter-spacing: 0.08em;
    padding-bottom: 10px;
    color: #005978;
    text-shadow: -1px -1px 1px #35B4D5;
}


#autodidacte {
    padding: 20px;
}

#fcc {
    padding: 50px 0 0 9%;
}

#occ {
    padding: 50px 0 0 18%;
}

.counter {
    display: flex;
    text-align: center;
}

.data {
    border:  1px solid #35B4D5;
    width: 170px;
    margin: 0 4%;
}


